body { background: #5113a2; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 47px; display: flex; }
.block-validator-0 { color: #733035; font-size: 13px; margin-bottom: 5px; }
.block-sms-1 { color: #93145; font-size: 15px; margin-bottom: 5px; }
.block-uploader-2 { color: #dd0693; font-size: 21px; margin-bottom: 5px; }
.block-order-3 { color: #efbd83; font-size: 20px; margin-bottom: 5px; }
.block-cart-4 { color: #6826f6; font-size: 20px; margin-bottom: 5px; }
.block-user-5 { color: #7c9390; font-size: 19px; margin-bottom: 5px; }
.block-cache-6 { color: #55505e; font-size: 17px; margin-bottom: 5px; }
.block-helper-7 { color: #408f2e; font-size: 19px; margin-bottom: 5px; }
.block-cart-8 { color: #630745; font-size: 18px; margin-bottom: 5px; }
.block-product-9 { color: #596eff; font-size: 14px; margin-bottom: 5px; }